logs/
dist/
build/
F1_22_Telemetry.spec
.vscode/

src/logs
src/app_gui.py
src/__pycache__
src/dist
src/build
src/ui/__pycache__
src/ui/components/__pycache__
src/telemetry/__pycache__

src/f1_22_telemetry.spec